rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /valueStreamMaps/{mapId} {
      allow read: if true;
      allow write: if false;
    }
    match /valueStreamMaps {
      allow list: if true;
    }
  }
}
